/* CONTACT SECTION
 *
 */

.contact {
    padding: 0 var(--global--spacing-horizontal);

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--global--spacing-horizontal);

        .divider {
            border-top: var(--global--border-width) dotted var(--global--border-color);
        }

        .contact-links {
            display: flex;
            align-items: center;
            flex-basis: 60%;
            justify-content: start;
            list-style-type: none;
            gap: var(--global--spacing-horizontal);
        }
    }

    @media (min-width: 576px) {
        .contact-container {
            flex-direction: row;
        }
    }
}