/* CONTACT SECTION
 *
 */

.contact {
    .contact-container {
        display: flex;
        justify-content: space-between;
        gap: var(--global--spacing-horizontal);

        .contact-links {
            display: flex;
            align-items: center;
            flex-basis: 60%;
            justify-content: start;
            list-style-type: none;
            gap: var(--global--spacing-horizontal);

            .contact-link {
                svg {
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;

                    &:hover {
                        transition: transform .1s ease;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}