/* HEADER SECTION */

.header {
    padding: var(--global--spacing-vertical) var(--global--spacing-horizontal);
    color: var(--global--color-floral-white);
    background-color: var(--global--color-eerie-black);

    .header-wrap {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    @media (min-width: 768px) {
        .header-wrap {
            flex-direction: row;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;

        .menu {
            display: flex;
            justify-content: start;
            list-style-type: none;
            gap: var(--global--spacing-horizontal);
        }

        .menu-item a {
            font-weight: 600;
            text-transform: uppercase;
            color: var(--global--color-floral-white);
        }
    }
}
