/* HERO
 *
 */

.hero {
    position: relative;
    overflow: hidden;
    max-height: 350px;
    padding: calc(var(--global--spacing-vertical) * 2) var(--global--spacing-horizontal);
    color: var(--global--color-floral-white);
    background: var(--global--color-eerie-black);

    .hero-banner__image-background {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
    }

    &::after {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 0.9;
        background: var(--global--color-eerie-black);
    }

    .hero-inner-container {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: var(--global--spacing-vertical);

        .hero-cta {

            > * {
                margin-top: var(--global--spacing-vertical);
                margin-bottom: var(--global--spacing-vertical);

                &:first-child {
                    margin-top: 0;
                }

            }
        }

        p {
            margin-bottom: 0;
        }
    }
}